@charset "utf-8";

body{
 background-color:#e9ebe9;
 font-size:120%;
 font-family: "メイリオ",Arial;
 font-family: "ヒラギノ角ゴシック",Arial;
 }

/*ul#header{
 width:960px;height:80px;
}*/
.resizeimage img { width: 100%; }

ul#menu{
width:960px; height:50px;
}

#menu li{
list-style-type:none;
display:inline;
float:left;
}

#menu li a {
background-color:#0000ff ;
color:#ffffff ;
display:block;
width:192px; height:35px;
padding:10px 0px 0px 0px;
text-align:center;
//text-decoration:none;
}
#menu li a:hover{
background-color:#0000cc;
}
.box3 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
}
.box3 p {
    margin: 0; 
    padding: 0;
}
table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}


