@charset "utf-8";

body{
 background-color:#ffffc6;
 font-size:100%;
 font-family: 'Roboto', sans-serif;
 font-family: "メイリオ",Arial;
 font-family: "ヒラギノ角ゴシック",Arial;
 }

/*ul#header{
 width:960px;height:80px;
}*/

ul#menu{
width:960px; height:50px;
}

#menu li{
list-style-type:none;
display:inline;
float:left;
}

#menu li a {
background-color:#0000ff ;
color:#ffffff ;
display:block;
width:192px; height:35px;
padding:10px 0px 0px 0px;
text-align:center;
//text-decoration:none;
}
#menu li a:hover{
background-color:#0000cc;
}



